Repository DLR-KI/pycasx, changes with the labels that .github/labeler.yml gives for each.
All labels: General, GitHub, Workflows, Dependabot, Labels, Documentation, Python, Tests, Packaging, pre-commit

.github/labeler.yml:

# SPDX-FileCopyrightText: 2024 German Aerospace Center (DLR) <https://dlr.de>
#
# SPDX-License-Identifier: MIT
General:
- changed-files:
  - any-glob-to-any-file:
    - '*'

GitHub:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

Workflows:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**

Dependabot:
- changed-files:
  - any-glob-to-any-file:
    - .github/dependabot.yml

Labels:
- changed-files:
  - any-glob-to-any-file:
    - .github/labeler.yml
    - .github/workflows/labeler.yml

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/*
    - '**/*.md'

Python:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.py'
    - '**/*.pyi'
    - '**/*.pyx'
    - pyproject.toml

Tests:
- changed-files:
  - any-glob-to-any-file:
    - tests/**
    - .github/workflows/pytest.yml

Packaging:
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - VERSION

pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml

Release 1.0.0
  .github/workflows/publish.yml
  README.md
  VERSION
  pyproject.toml
Labels: General, GitHub, Workflows, Documentation, Python, Packaging

Fix REUSE
  .github/workflows/publish.yml
Labels: GitHub, Workflows

Update pre-commit
  .pre-commit-config.yaml
  README.md
Labels: General, Documentation, pre-commit

Deactivate mypy on pre-commit.ci
  .pre-commit-config.yaml
Labels: General, pre-commit

Downgrade some versions, remove Actions pre-commit
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Labels: General, GitHub, Workflows, pre-commit

Formatting
  pycasx/scenario/fgfs_config.py
  pycasx/scenario/scenario.py
Labels: Python

Add Zenodo badge link
  README.md
Labels: General, Documentation

Update pre-commit
  .pre-commit-config.yaml
Labels: General, pre-commit

Temporarily deactivate
  .pre-commit-config.yaml
Labels: General, pre-commit

Add pyCASX logo
  README.md
  docs/_static/.gitkeep
  docs/_static/pyCASX_logo.svg
Labels: General, Documentation

Fix license info inside logo svg
  docs/_static/pyCASX_logo.svg
Labels: none

Create code coverage report in CI
  .github/workflows/pytest.yml
Labels: GitHub, Workflows, Tests

Grant permissions via actions yaml
  .github/workflows/pytest.yml
Labels: GitHub, Workflows, Tests
